<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>msyt-collector-service</display-name>

    <welcome-file-list>
        <!-- 测试 ！！！， 上线  -->
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- springmvc的前端控制器 -->
    <servlet>
        <servlet-name>msyt-collector-service</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- contextConfigLocation不是必须的， 如果不配置contextConfigLocation， springmvc的配置文件默认在：WEB-INF/servlet的name+"-servlet.xml" -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!--<param-value>classpath:spring/applicationContext-*.xml</param-value>-->

            <!--
			 # Environment :
			 pro(production、生产环境) , pre(preview、预发布环境) , test（测试环境） , dev(develop、开发环境) , sta (stable、稳定环境)

			-->
            <param-value>classpath:spring/applicationContext-*.xml</param-value>

            <!-- dev(develop、开发环境) -->
            <!--<param-value>classpath:dev/spring/applicationContext-*.xml</param-value>-->
            <!-- test（测试环境） -->
            <!--<param-value>classpath:test/spring/applicationContext-*.xml</param-value>-->
            <!-- sta (stable、稳定环境) -->
            <!--<param-value>classpath:sta/spring/applicationContext-*.xml</param-value>-->
            <!-- pre(preview、预发布环境) -->
            <!--<param-value>classpath:pre/spring/applicationContext-*.xml</param-value>-->
            <!-- pro(production、生产环境) -->
            <!--<param-value>classpath:pro/spring/applicationContext-*.xml</param-value>-->

        </init-param>
        <!-- 1 : 当Tomcat启动，就加载 -->
        <load-on-startup>1</load-on-startup>
    </servlet>

</web-app>
