<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Elasticsearch -->
    <bean class="cc.msonion.carambola.parent.ext.elasticsearch.client.MsOnionTransportClient">
        <!-- String clusterName, String transportAddres -->
        <constructor-arg name="clusterName" value="${es.clusterName}" />
        <constructor-arg name="transportAddres" value="${es.transportAddres}" />
    </bean>

</beans>
