<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.msonion.carambola.logistics.dao.mapper.LogisticsCustomsDeclareOfficialMapper">
  <resultMap id="BaseResultMap" type="cc.msonion.carambola.logistics.pojo.LogisticsCustomsDeclareOfficial">
    <id column="idx" jdbcType="BIGINT" property="idx" />
    <result column="idx_code" jdbcType="BIGINT" property="idxCode" />
    <result column="item_official_idx" jdbcType="BIGINT" property="itemOfficialIdx" />
    <result column="custom_name" jdbcType="VARCHAR" property="customName" />
    <result column="first_quantity" jdbcType="INTEGER" property="firstQuantity" />
    <result column="second_quantity" jdbcType="INTEGER" property="secondQuantity" />
    <result column="first_unit_idx" jdbcType="BIGINT" property="firstUnitIdx" />
    <result column="second_unit_idx" jdbcType="BIGINT" property="secondUnitIdx" />
    <result column="postal_articles_tax_rate" jdbcType="INTEGER" property="postalArticlesTaxRate" />
    <result column="cross_border_tax_rate" jdbcType="INTEGER" property="crossBorderTaxRate" />
    <result column="bc_price" jdbcType="INTEGER" property="bcPrice" />
    <result column="hs_code" jdbcType="BIGINT" property="hsCode" />
    <result column="gross_weight" jdbcType="VARCHAR" property="grossWeight" />
    <result column="postal_articles_tax_number" jdbcType="BIGINT" property="postalArticlesTaxNumber" />
    <result column="is_contain_excise" jdbcType="SMALLINT" property="isContainExcise" />
    <result column="create_by_member_idx" jdbcType="BIGINT" property="createByMemberIdx" />
    <result column="update_by_member_idx" jdbcType="BIGINT" property="updateByMemberIdx" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="ext" jdbcType="VARCHAR" property="ext" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    idx, idx_code, item_official_idx, custom_name, first_quantity, second_quantity, first_unit_idx, 
    second_unit_idx, postal_articles_tax_rate, cross_border_tax_rate, bc_price, hs_code, 
    gross_weight, postal_articles_tax_number, is_contain_excise, create_by_member_idx, 
    update_by_member_idx, create_time, update_time, status, version, ext
  </sql>
  <select id="selectByExample" parameterType="cc.msonion.carambola.logistics.pojo.LogisticsCustomsDeclareOfficialExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_logistics_customs_declare_official
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_logistics_customs_declare_official
    where idx = #{idx,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_logistics_customs_declare_official
    where idx = #{idx,jdbcType=BIGINT}
  </delete>
  <update id="deleteByIdxesWithExample" parameterType="cc.msonion.carambola.logistics.pojo.LogisticsCustomsDeclareOfficialExample">
    update tb_logistics_customs_declare_official set status = 0
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <insert id="insert" parameterType="cc.msonion.carambola.logistics.pojo.LogisticsCustomsDeclareOfficial">
    insert into tb_logistics_customs_declare_official (idx, idx_code, item_official_idx, 
      custom_name, first_quantity, second_quantity, 
      first_unit_idx, second_unit_idx, postal_articles_tax_rate, 
      cross_border_tax_rate, bc_price, hs_code, 
      gross_weight, postal_articles_tax_number, is_contain_excise, 
      create_by_member_idx, update_by_member_idx, create_time, 
      update_time, status, version, 
      ext)
    values (#{idx,jdbcType=BIGINT}, #{idxCode,jdbcType=BIGINT}, #{itemOfficialIdx,jdbcType=BIGINT}, 
      #{customName,jdbcType=VARCHAR}, #{firstQuantity,jdbcType=INTEGER}, #{secondQuantity,jdbcType=INTEGER}, 
      #{firstUnitIdx,jdbcType=BIGINT}, #{secondUnitIdx,jdbcType=BIGINT}, #{postalArticlesTaxRate,jdbcType=INTEGER}, 
      #{crossBorderTaxRate,jdbcType=INTEGER}, #{bcPrice,jdbcType=INTEGER}, #{hsCode,jdbcType=BIGINT}, 
      #{grossWeight,jdbcType=VARCHAR}, #{postalArticlesTaxNumber,jdbcType=BIGINT}, #{isContainExcise,jdbcType=SMALLINT}, 
      #{createByMemberIdx,jdbcType=BIGINT}, #{updateByMemberIdx,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{version,jdbcType=BIGINT}, 
      #{ext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cc.msonion.carambola.logistics.pojo.LogisticsCustomsDeclareOfficial">
    insert into tb_logistics_customs_declare_official
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        idx,
      </if>
      <if test="idxCode != null">
        idx_code,
      </if>
      <if test="itemOfficialIdx != null">
        item_official_idx,
      </if>
      <if test="customName != null">
        custom_name,
      </if>
      <if test="firstQuantity != null">
        first_quantity,
      </if>
      <if test="secondQuantity != null">
        second_quantity,
      </if>
      <if test="firstUnitIdx != null">
        first_unit_idx,
      </if>
      <if test="secondUnitIdx != null">
        second_unit_idx,
      </if>
      <if test="postalArticlesTaxRate != null">
        postal_articles_tax_rate,
      </if>
      <if test="crossBorderTaxRate != null">
        cross_border_tax_rate,
      </if>
      <if test="bcPrice != null">
        bc_price,
      </if>
      <if test="hsCode != null">
        hs_code,
      </if>
      <if test="grossWeight != null">
        gross_weight,
      </if>
      <if test="postalArticlesTaxNumber != null">
        postal_articles_tax_number,
      </if>
      <if test="isContainExcise != null">
        is_contain_excise,
      </if>
      <if test="createByMemberIdx != null">
        create_by_member_idx,
      </if>
      <if test="updateByMemberIdx != null">
        update_by_member_idx,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="ext != null">
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        #{idx,jdbcType=BIGINT},
      </if>
      <if test="idxCode != null">
        #{idxCode,jdbcType=BIGINT},
      </if>
      <if test="itemOfficialIdx != null">
        #{itemOfficialIdx,jdbcType=BIGINT},
      </if>
      <if test="customName != null">
        #{customName,jdbcType=VARCHAR},
      </if>
      <if test="firstQuantity != null">
        #{firstQuantity,jdbcType=INTEGER},
      </if>
      <if test="secondQuantity != null">
        #{secondQuantity,jdbcType=INTEGER},
      </if>
      <if test="firstUnitIdx != null">
        #{firstUnitIdx,jdbcType=BIGINT},
      </if>
      <if test="secondUnitIdx != null">
        #{secondUnitIdx,jdbcType=BIGINT},
      </if>
      <if test="postalArticlesTaxRate != null">
        #{postalArticlesTaxRate,jdbcType=INTEGER},
      </if>
      <if test="crossBorderTaxRate != null">
        #{crossBorderTaxRate,jdbcType=INTEGER},
      </if>
      <if test="bcPrice != null">
        #{bcPrice,jdbcType=INTEGER},
      </if>
      <if test="hsCode != null">
        #{hsCode,jdbcType=BIGINT},
      </if>
      <if test="grossWeight != null">
        #{grossWeight,jdbcType=VARCHAR},
      </if>
      <if test="postalArticlesTaxNumber != null">
        #{postalArticlesTaxNumber,jdbcType=BIGINT},
      </if>
      <if test="isContainExcise != null">
        #{isContainExcise,jdbcType=SMALLINT},
      </if>
      <if test="createByMemberIdx != null">
        #{createByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="updateByMemberIdx != null">
        #{updateByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="ext != null">
        #{ext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cc.msonion.carambola.logistics.pojo.LogisticsCustomsDeclareOfficialExample" resultType="java.lang.Long">
    select count(idx) from tb_logistics_customs_declare_official
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_logistics_customs_declare_official
    <set>
      <if test="record.idx != null">
        idx = #{record.idx,jdbcType=BIGINT},
      </if>
      <if test="record.idxCode != null">
        idx_code = #{record.idxCode,jdbcType=BIGINT},
      </if>
      <if test="record.itemOfficialIdx != null">
        item_official_idx = #{record.itemOfficialIdx,jdbcType=BIGINT},
      </if>
      <if test="record.customName != null">
        custom_name = #{record.customName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstQuantity != null">
        first_quantity = #{record.firstQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.secondQuantity != null">
        second_quantity = #{record.secondQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.firstUnitIdx != null">
        first_unit_idx = #{record.firstUnitIdx,jdbcType=BIGINT},
      </if>
      <if test="record.secondUnitIdx != null">
        second_unit_idx = #{record.secondUnitIdx,jdbcType=BIGINT},
      </if>
      <if test="record.postalArticlesTaxRate != null">
        postal_articles_tax_rate = #{record.postalArticlesTaxRate,jdbcType=INTEGER},
      </if>
      <if test="record.crossBorderTaxRate != null">
        cross_border_tax_rate = #{record.crossBorderTaxRate,jdbcType=INTEGER},
      </if>
      <if test="record.bcPrice != null">
        bc_price = #{record.bcPrice,jdbcType=INTEGER},
      </if>
      <if test="record.hsCode != null">
        hs_code = #{record.hsCode,jdbcType=BIGINT},
      </if>
      <if test="record.grossWeight != null">
        gross_weight = #{record.grossWeight,jdbcType=VARCHAR},
      </if>
      <if test="record.postalArticlesTaxNumber != null">
        postal_articles_tax_number = #{record.postalArticlesTaxNumber,jdbcType=BIGINT},
      </if>
      <if test="record.isContainExcise != null">
        is_contain_excise = #{record.isContainExcise,jdbcType=SMALLINT},
      </if>
      <if test="record.createByMemberIdx != null">
        create_by_member_idx = #{record.createByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="record.updateByMemberIdx != null">
        update_by_member_idx = #{record.updateByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.ext != null">
        ext = #{record.ext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_logistics_customs_declare_official
    set idx = #{record.idx,jdbcType=BIGINT},
      idx_code = #{record.idxCode,jdbcType=BIGINT},
      item_official_idx = #{record.itemOfficialIdx,jdbcType=BIGINT},
      custom_name = #{record.customName,jdbcType=VARCHAR},
      first_quantity = #{record.firstQuantity,jdbcType=INTEGER},
      second_quantity = #{record.secondQuantity,jdbcType=INTEGER},
      first_unit_idx = #{record.firstUnitIdx,jdbcType=BIGINT},
      second_unit_idx = #{record.secondUnitIdx,jdbcType=BIGINT},
      postal_articles_tax_rate = #{record.postalArticlesTaxRate,jdbcType=INTEGER},
      cross_border_tax_rate = #{record.crossBorderTaxRate,jdbcType=INTEGER},
      bc_price = #{record.bcPrice,jdbcType=INTEGER},
      hs_code = #{record.hsCode,jdbcType=BIGINT},
      gross_weight = #{record.grossWeight,jdbcType=VARCHAR},
      postal_articles_tax_number = #{record.postalArticlesTaxNumber,jdbcType=BIGINT},
      is_contain_excise = #{record.isContainExcise,jdbcType=SMALLINT},
      create_by_member_idx = #{record.createByMemberIdx,jdbcType=BIGINT},
      update_by_member_idx = #{record.updateByMemberIdx,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=SMALLINT},
      version = #{record.version,jdbcType=BIGINT},
      ext = #{record.ext,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.msonion.carambola.logistics.pojo.LogisticsCustomsDeclareOfficial">
    update tb_logistics_customs_declare_official
    <set>
      <if test="idxCode != null">
        idx_code = #{idxCode,jdbcType=BIGINT},
      </if>
      <if test="itemOfficialIdx != null">
        item_official_idx = #{itemOfficialIdx,jdbcType=BIGINT},
      </if>
      <if test="customName != null">
        custom_name = #{customName,jdbcType=VARCHAR},
      </if>
      <if test="firstQuantity != null">
        first_quantity = #{firstQuantity,jdbcType=INTEGER},
      </if>
      <if test="secondQuantity != null">
        second_quantity = #{secondQuantity,jdbcType=INTEGER},
      </if>
      <if test="firstUnitIdx != null">
        first_unit_idx = #{firstUnitIdx,jdbcType=BIGINT},
      </if>
      <if test="secondUnitIdx != null">
        second_unit_idx = #{secondUnitIdx,jdbcType=BIGINT},
      </if>
      <if test="postalArticlesTaxRate != null">
        postal_articles_tax_rate = #{postalArticlesTaxRate,jdbcType=INTEGER},
      </if>
      <if test="crossBorderTaxRate != null">
        cross_border_tax_rate = #{crossBorderTaxRate,jdbcType=INTEGER},
      </if>
      <if test="bcPrice != null">
        bc_price = #{bcPrice,jdbcType=INTEGER},
      </if>
      <if test="hsCode != null">
        hs_code = #{hsCode,jdbcType=BIGINT},
      </if>
      <if test="grossWeight != null">
        gross_weight = #{grossWeight,jdbcType=VARCHAR},
      </if>
      <if test="postalArticlesTaxNumber != null">
        postal_articles_tax_number = #{postalArticlesTaxNumber,jdbcType=BIGINT},
      </if>
      <if test="isContainExcise != null">
        is_contain_excise = #{isContainExcise,jdbcType=SMALLINT},
      </if>
      <if test="createByMemberIdx != null">
        create_by_member_idx = #{createByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="updateByMemberIdx != null">
        update_by_member_idx = #{updateByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="ext != null">
        ext = #{ext,jdbcType=VARCHAR},
      </if>
    </set>
    where idx = #{idx,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.msonion.carambola.logistics.pojo.LogisticsCustomsDeclareOfficial">
    update tb_logistics_customs_declare_official
    set idx_code = #{idxCode,jdbcType=BIGINT},
      item_official_idx = #{itemOfficialIdx,jdbcType=BIGINT},
      custom_name = #{customName,jdbcType=VARCHAR},
      first_quantity = #{firstQuantity,jdbcType=INTEGER},
      second_quantity = #{secondQuantity,jdbcType=INTEGER},
      first_unit_idx = #{firstUnitIdx,jdbcType=BIGINT},
      second_unit_idx = #{secondUnitIdx,jdbcType=BIGINT},
      postal_articles_tax_rate = #{postalArticlesTaxRate,jdbcType=INTEGER},
      cross_border_tax_rate = #{crossBorderTaxRate,jdbcType=INTEGER},
      bc_price = #{bcPrice,jdbcType=INTEGER},
      hs_code = #{hsCode,jdbcType=BIGINT},
      gross_weight = #{grossWeight,jdbcType=VARCHAR},
      postal_articles_tax_number = #{postalArticlesTaxNumber,jdbcType=BIGINT},
      is_contain_excise = #{isContainExcise,jdbcType=SMALLINT},
      create_by_member_idx = #{createByMemberIdx,jdbcType=BIGINT},
      update_by_member_idx = #{updateByMemberIdx,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      version = #{version,jdbcType=BIGINT},
      ext = #{ext,jdbcType=VARCHAR}
    where idx = #{idx,jdbcType=BIGINT}
  </update>
</mapper>