/**   
 * 广州市两棵树网络科技有限公司版权所有
 * DT Group Technology & commerce Co., LtdAll rights reserved.   
 *   
 * 广州市两棵树网络科技有限公司，创立于2009年。旗下运营品牌洋葱小姐。
 * 洋葱小姐（Ms.Onion） 下属三大业务模块 [洋葱海外仓] , [洋葱DSP] , [洋葱海外聚合供应链]
 * [洋葱海外仓]（DFS）系中国海关批准的跨境电商自营平台(Cross-border ecommerce platform)，
 * 合法持有海外直邮保税模式的跨境电商营运资格。是渠道拓展，平台营运，渠道营运管理，及客户服务等前端业务模块。
 * [洋葱DSP]（DSP）系拥有1.3亿消费者大数据分析模型。 是基于客户的消费行为，消费轨迹，及多维度云算法(MDPP)
 * 沉淀而成的精准消费者模型。洋葱DSP能同时为超过36种各行业店铺 及200万个销售端口
 * 进行多店铺高精度配货，并能预判消费者购物需求进行精准推送。同时为洋葱供应链提供更前瞻的商品采买需求模型 。
 * [洋葱海外聚合供应链]（Super Supply Chain）由中国最大的进口贸易集团共同
 * 合资成立，拥有20余年的海外供应链营运经验。并已入股多家海外贸易企业，与欧美澳等9家顶级全球供应商达成战略合作伙伴关系。
 * 目前拥有835个国际品牌直接采买权，12万个单品的商品供应库。并已建设6大海外直邮仓库，为国内客户提供海外商品采买集货供应，
 * 跨境 物流，保税清关三合一的一体化模型。目前是中国唯一多模式聚合的海外商品供应链 。  
 *   
 * 洋葱商城：http://m.msyc.cc/wx/indexView?tmn=1 
 *
 * 洋桃商城：http://www.yunyangtao.com
 * 
 * @Description: 公用样式
 * @Company: http://www.yunyangtao.com
 * @author lemon 
 * @e-mail address 2590586729@qq.com 
 * @date 2017年3月10日
 * @version V1.0
 * 
 */
*{margin: 0 0;padding: 0 0;}
body{font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;font-size: 14px;background: #f0f4f7;}
ul li,ol li{list-style: none;}
a,a:hover{text-decoration: none;}
a{-webkit-tap-highlight-color:transparent;}
i, cite, em, var, address, dfn{font-style:normal;}
ul li,ol li{list-style: none;}
input,button,textarea{outline:none;}
button,input[type='button'],input[type='checkbox']{cursor: pointer;}
input[type='text']{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
select::-ms-expand {display: none;text-shadow:none; }
select{appearance:none;-moz-appearance:none;-webkit-appearance:none;-ms-progress-appearance: none;cursor: pointer;text-shadow:none;vertical-align:middle;}
a:active,a:hover {outline: 0}
::-webkit-scrollbar {width: 10px;height: 10px;}
::-webkit-scrollbar-button:vertical {display: none}
::-webkit-scrollbar-corner,::-webkit-scrollbar-track {background-color: #e2e2e2;}
::-webkit-scrollbar-thumb {border-radius: 0;background-color: rgba(0, 0, 0, .3);}
::-webkit-scrollbar-thumb:vertical:hover {background-color: rgba(0, 0, 0, .35);}
::-webkit-scrollbar-thumb:vertical:active {background-color: rgba(0, 0, 0, .38);}
.wrapper{width: 100%;}
.relative{position: relative;}
.cursor{cursor: pointer;}
/*logo头部*/

.yt-head{width: 100%;min-width: 1380px;height: 90px;position: fixed;top: 0;left: 0;box-sizing: border-box;
    background:-webkit-gradient(linear, 95% 0%, 0% 0%,from(#00d577), to(#00d5a6));z-index: 100;
    background:-ms-linear-gradient(linear, 95% 0%, 0% 0%,from(#00d577), to(#00d5a6));z-index: 100;
    background:-moz-linear-gradient(linear, 95% 0%, 0% 0%,from(#00d577), to(#00d5a6));z-index: 100;
    background:-webkit-linear-gradient(linear, 95% 0%, 0% 0%,from(#00d577), to(#00d5a6));z-index: 100;
    background:-o-linear-gradient(linear, 95% 0%, 0% 0%,from(#00d577), to(#00d5a6));z-index: 100;
    background: linear-gradient(to left, #00d577 0%,#00d5a6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00d5a6', endColorstr='#00d577',GradientType=1);
}
:root .gradient{filter:none;}
.tabs-panels{margin-top: 31px;}

.yt-head .home{width: 230px;height: 90px;float: left;display: inherit;}
.yt-head .home .yt-logo{display: block;width: 142px;height: 52px;position: absolute;top: 22px;left: 42px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/yt-logo.png) no-repeat;}
.yt-head .yt-nav{float: left;display: inherit;padding:36px 20px 20px 20px;box-sizing: border-box;}
.yt-head .yt-nav ul{box-sizing: border-box;height: 34px;overflow: hidden;max-width: 844px;}
.yt-head .yt-nav .nav-list{width: 124px;height: 34px;line-height: 34px;text-align: center;float: left;margin-right: 10px;box-sizing: border-box;font-size: 15px;border-radius: 3px;-webkit-border-radius: 3px;}
.yt-head .yt-nav li.active{background: #ffcf00;}
.yt-head .yt-nav .nav-list a{display: block;color: #FFFFFF;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 124px;padding: 0 5px;box-sizing: border-box;}
.yt-head .yt-personal{width: 166px;height: 16px;box-sizing: border-box;cursor: pointer;position: absolute;right: 0;top: 0;margin: 7px 0;border-left: 1px solid #f5f9f7;}
.yt-head .yt-personal .personal-icon{width: 12px;height: 13px;display: block;float: left;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon7.png) no-repeat;background-position: -40px 0;background-size: 400px 100px;margin-top: 1px;margin-left: 10px;}
.yt-head .yt-personal .personal-name{width: 125px;height: 16px;line-height: 17px;font-size: 12px;float: left;position: relative;box-sizing: border-box;padding: 0 10px;color: #FFFFFF;    white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.yt-head .yt-personal .personal-name i{width: 10px;height: 6px;display: block;position: absolute;right: 0;top: 6px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: -68px -97px;background-size: 200px 400px;}
.yt-head .yt-personal .personal-name i.active{background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: -2px -67px;background-size: 200px 400px;}

.yt-head .yt-onlineStore{display: block;width: 146px;height: 16px;box-sizing: border-box;cursor: pointer;position: absolute;right: 124px;top: 0;margin: 7px 0;}
.yt-head .yt-onlineStore .personal-icon{width: 15px;height: 13px;display: block;float: left;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon7.png) no-repeat;background-position: -82px 0;background-size: 400px 100px;margin-top: 1px;margin-left: 10px;}
.yt-head .yt-onlineStore .personal-name{height: 16px;line-height: 17px;float: left;position: relative;box-sizing: border-box;padding: 0 10px;color: #FFFFFF;}

@media only screen and (min-width: 1260px) {
    .yt-head .yt-nav .nav-list{width: 124px;}
}
@media only screen and (max-width: 1260px) {
    .yt-head .yt-nav .nav-list{width: 110px;margin-right: 10px;}
    .yt-head .yt-nav .nav-list a{width: 110px;}
}

.set-center{display: none;width: 166px;height: 167px;box-sizing: border-box;border: 1px solid #dbdcde;position: absolute;top: 34px;right: 0;z-index: 101;background: #FFFFFF;}
.set-center .set-center-icon{width: 15px;height: 5px;position: absolute;top: -5px;right: 14px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: -186px -348px;background-size: 200px 400px;}
.set-center .set-help{width: 100%;height: 165px;}
.set-center .set-help .set{cursor: pointer;display: block;color: #989898;font-size: 14px;width: 168px;height: 55px;line-height: 54px;padding-left: 32px;box-sizing: border-box;border-bottom: 1px solid #f0f0f0;}
.set-center .set-help .set i{width: 15px;height: 15px;position: absolute;top: 19px;left: 26px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon4.png) no-repeat;background-position: 0px -21px;background-size: 400px 200px;}
.set-center .set-help ul{overflow: hidden;height: 100%;}
.set-center .set-help li{padding: 0 18px;width: 100%;box-sizing: border-box;}
.set-center .set-help li:hover{background: #f4f4f4;}
/*
.set-center .set-help .help{cursor: pointer;display: block;color: #989898;font-size: 14px;width: 168px;height: 55px;line-height: 54px;padding-left: 32px;box-sizing: border-box;}
.set-center .set-help .help i{width: 20px;height: 20px;position: absolute;top: 128px;left: 26px;background: url(/resources/images/icon4.png) no-repeat;background-position: -132px -21px;background-size: 400px 200px;}
*/

.set-center .set-help .out{cursor: pointer;box-sizing: border-box;width: 100%;height: 55px;line-height: 62px;background: #FFFFFF;display: block;color: #989898;padding-left: 32px;box-sizing: border-box;}
.set-center .set-help .out:hover{background: #f4f4f4;}
.set-center .set-help .out i{width: 18px;height: 18px;position: absolute;top: 132px;left: 26px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon4.png) no-repeat;background-position: -91px -21px;background-size: 400px 200px;}
.set-center .set-help .password{cursor: pointer;display: block;color: #989898;font-size: 14px;width: 168px;height: 55px;line-height: 54px;padding-left: 32px;box-sizing: border-box;border-bottom: 1px solid #f0f0f0;}
.set-center .set-help .password i{width: 18px;height: 18px;position: absolute;top: 74px;left: 26px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon4.png) no-repeat;background-position: -43px -21px;background-size: 400px 200px;}

/*左边菜单栏*/
.yt-left-container{width: 240px;float: left;}
.yt-left-menu{overflow: hidden;scrollbar-3d-light-color: red;z-index: 102;width: 240px;height: 100%;box-sizing: border-box;padding-top: 90px;padding-bottom: 32px;position:fixed;top: 0;left: 0;z-index: 98;
    background:-webkit-gradient(linear, 0% 0%, 0% 45%,from(#00e878), to(#00d5a6));
    background:-ms-linear-gradient(linear, 0% 0%, 0% 45%,from(#00e878), to(#00d5a6));
    background:-moz-linear-gradient(linear, 0% 0%, 0% 45%,from(#00e878), to(#00d5a6));
    background:-webkit-linear-gradient(linear, 0% 0%, 0% 45%,from(#00e878), to(#00d5a6));
    background:-o-linear-gradient(linear, 0% 0%, 0% 45%,from(#00e878), to(#00d5a6));
    background: linear-gradient(to bottom, #00d577 0%,#00d5a6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d577', endColorstr='#00d5a6',GradientType=0 );
}
:root .gradient{filter:none;}

.yt-left-menu .menu-item{width: 100%;cursor: pointer;box-sizing: border-box;margin-top: 10px;display: block;color: #FFFFFF;font-size: 14px;}
.yt-left-menu .menu-item:first-child{margin-top: 24px;}
.yt-left-menu .menu-top{width: 100%;height: 32px;line-height: 32px;background: #ffcf00;color: #FFFFFF;padding-left: 10px;box-sizing: border-box;}
.yt-left-menu .menu-top i{display: block;width: 32px;height: 32px;float: right;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: -90px -221px;cursor: pointer;background-size: 200px 400px;}
#menu-hide{display: block;width: 30px;height: 32px;background: #ffcf00;position: fixed;top: 90px;left: 0;z-index: 105;}
#menu-hide i{display: block;width: 30px;height: 32px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: -90px -221px;cursor: pointer;background-size: 200px 400px;}
.rotate{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg); }
.rotates{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg); }
/*一级菜单开始*/
.menu-c{width: 100%;height: 100%;box-sizing: border-box;padding: 10px 0 0 0;overflow: scroll;}
.menu-c .tree-node-selected{background: url(https://static-1253852034.cosgz.myqcloud.com/images/menu-bg.png) 100%;}
/*.menu-c .tree-node-selected{
	background:-webkit-gradient(linear, 95% 0%, 0% 0%,from(#00d577), to(#00d5a6));z-index: 100;
	background:-ms-linear-gradient(linear, 95% 0%, 0% 0%,from(#00d577), to(#00d5a6));z-index: 100;
	background:-moz-linear-gradient(linear, 95% 0%, 0% 0%,from(#00d577), to(#00d5a6));z-index: 100;
	background:-webkit-linear-gradient(linear, 95% 0%, 0% 0%,from(#00d577), to(#00d5a6));z-index: 100;
	background:-o-linear-gradient(linear, 95% 0%, 0% 0%,from(#00d577), to(#00d5a6));z-index: 100;
	background: linear-gradient(to left, #00d577 0%,#00d5a6 100%);
}*/

.menu-c .tree-node-hover{background: url(https://static-1253852034.cosgz.myqcloud.com/images/menu-bg.png) 100%;}
.main .tree-node-selected{background: #e2e2e2;color: #333333;}

/*右边内容开始*/
.yt-right-container{width: 100%;box-sizing: border-box;margin-top: 90px;}
.win-nav{box-sizing: border-box;}
.win-nav .win-nav-cont{width: 100%;box-sizing: border-box;padding-left: 240px;}
.win-content{width: 100%;padding-left: 240px;box-sizing: border-box;}
.win-nav .tabs,.win-nav .tabs-header{border-color: #c2d2ce;height: 31px;}
.win-nav .tabs-header{background: #d6ece6;padding-top: 0;position: fixed;top: 90px;left: 240px;z-index: 15;}
.tabs li a.tabs-inner{background: #d6ece6;color: #666666;border-color: #c2d2ce;border-left: none;border-right: none;border-top: none;}
.tabs li.tabs-selected a.tabs-close{background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: -22px -103px;background-size: 200px 400px;}
.tabs li a.tabs-close{background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: -30px -136px;background-size: 200px 400px;}
.tabs-panels{border: none;}
.yt-table .pagination-page-list{width: auto;padding: 2px 10px;}
.pagination .pagination-num{text-align: center;width: 4em;}
.tabs li.tabs-selected a.tabs-inner{color: #00d5b4;font-weight: 500;background: #f0f4f7;border-bottom: 1px solid #f0f4f7;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(240, 244, 247);}

.main{margin-bottom: 40px;}
.menu-c .tree-title{color: #FFFFFF;font-size: 14px;padding: 0 10px;box-sizing: border-box;}
.menu-c .tree-file{display: inline-block;width: 13px;height: 16px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: -185px -97px;background-size: 200px 400px;}
.menu-c #menu .tree-folder-open{width: 30px;height: 17px;display: inline-block;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: -122px -194px;background-size: 200px 400px;}
.menu-c .tree-folder{width: 30px;height: 17px;display: inline-block;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: 13px -189px;background-size: 200px 400px;}
.yt-left-menu .menu-c  #menu li li .tree-folder-open{width: 30px;height: 17px;display: inline-block;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: -63px -66px;background-size: 200px 400px;}
.menu-c  #menu li li .tree-folder{width: 30px;height: 17px;display: inline-block;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon1.png) no-repeat;background-position: -117px -97px;background-size: 200px 400px;}
.menu-c .tree-node{height: 25px;line-height: 25px;padding-top: 7px;}
.menu-c .tree-expanded{display: none;background: url();}
.menu-c .tree-collapsed{display: none;background: url();}

.layui-layer-btn0{cursor: pointer;}
.layui-layer-btn1{cursor: pointer;}

/*底部*/
.yt-footer{position:fixed;bottom: 0;width: 100%;height: 40px;background: #FFFFFF;border-top: 1px solid #dddddd;box-sizing: border-box;}
.yt-footer .yt-footer-container{width: 100%;line-height: 39px;box-sizing: border-box;padding-left: 230px;text-align: center;color: #333;font-size: 12px;}

/*404页面*/
.container-loss{width: 100%;height: 100%;background: #f0f4f7;padding: 100px 0;}
.container-loss .loss{width: 500px;height: 341px;margin: 0 auto;}
.container-loss .loss img{display: block;}
.container-loss .sorry{text-align: center;width: 500px;height: 80px;line-height: 80px;font-size: 18px;color: #333333;margin: 0 auto;}
.container-loss .returnHome{position: relative;display: block;margin: 0 auto;padding-left: 38px;box-sizing: border-box;font-size: 16px;border-radius: 3px;-webkit-border-radius: 3px;width: 124px;height: 40px;line-height: 40px;background: #00d5b4;color: #FFFFFF;}
.container-loss .returnHome i{display: block;width: 20px;height: 18px;position: absolute;top: 10px;left: 10px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/icon2.png) no-repeat;background-position: -244px 0;background-size: 400px 200px;}

.yt-table{height: 498px;}
.yt-table .easyui-treegrid{height: 464px;}

#mm{padding: 10px 0;font-size: 14px;}
#mm .menu-line{display: none;}
#mm .menu-active{border: none;color: #333;}
#personMouseover{position: absolute;top: 0;right: 0;width: 166px;height: 40px;}

.main-content .screen .screen-row .txt:focus{border: 1px solid #00d5b4;}
.winCont .winRow .brandTxt:focus{border: 1px solid #00d5b4;}
.winCont .winRow2 textarea:focus{border: 1px solid #00d5b4;}
#commodityCapacity .bigWinCont input:focus{border: 1px solid #00d5b4;}
#commodityCapacity .bigWinCont select:hover{border: 1px solid #00d5b4;}
#commodityCapacity .brandLogo:hover{border: 1px solid #00d5b4;}
#commodityCapacity .bigWinCont textarea:focus{border: 1px solid #00d5b4;}
#classifyCapacity .txt-name:focus{border: 1px solid #00d5b4;}
.main-content .screen .screen-row .state .select-pl:hover{border: 1px solid #00d5b4;}
.winCont .winRow .brandLogo:hover{border: 1px solid #00d5b4;}
.winCont .winRow select:hover{border: 1px solid #00d5b4;}
.main-content .screen .screen-row .state .state1:hover{border: 1px solid #00d5b4;}
.gatherEdit .col-chunk .right-value:focus{border: 1px solid #00d5b4;}
.gatherEdit .col-chunk .drop-down:hover{border: 1px solid #00d5b4;}
.gatherEdit .brandLogo:hover{border: 1px solid #00d5b4;}
.gatherEdit .col-chunk-h .right-value-area:focus{border: 1px solid #00d5b4;}
.addCommodity .bigWinCont input:focus{border: 1px solid #00d5b4;}
.addCommodity .bigWinCont select:hover{border: 1px solid #00d5b4;}
.addCommodity .bigWinCont textarea:focus{border: 1px solid #00d5b4;}
.addCommodity .brandLogo:hover{border: 1px solid #00d5b4;}
#authorityCapacity .txt-name:focus{border: 1px solid #00d5b4;}
.ms-container .ms-input:focus{border: 1px solid #00d5b4;}
.ms-container .ms-input-bm:focus{border: 1px solid #00d5b4;}
.ms-container .bz-textarea:focus{border: 1px solid #00d5b4;}
.ms-container .row select:hover{border: 1px solid #00d5b4;}
#selectResource .txt-name:focus{border: 1px solid #00d5b4;}
.ms-container .ms-textarea:focus{border: 1px solid #00d5b4;}
#resourceGroup .txt-name:focus{border: 1px solid #00d5b4;}
.ms-container .ms-input-z:focus{border: 1px solid #00d5b4;}
.tree-cont .screen .screen-row .txt:focus{border: 1px solid #00d5b4;}
.tree-cont .screen .screen-row .state .state1:hover{border: 1px solid #00d5b4;}

.panel-loading{width: 100px;height: 50px;margin: 20% auto;}

/*首页*/
.home-container{width: 100%;height: 100%;box-sizing: border-box;padding: 0 20px 20px 0px;background: #FFFFFF;}
.home-container .module{overflow: hidden;min-width: 1100px;margin-bottom: 20px;background: #FFFFFF;}
.home-container .module .module-left{float: left;min-width: 58%;min-height: 240px;margin-right: 20px;margin-top: 20px;}
.home-container .module .module-right{float: left;min-width: 38%;min-height: 240px;margin-top: 20px;margin-right: 20px;}


.dd-item .list{background: #FFFFFF;}

.shopCenter{max-width: 98%;border: 1px solid #f9f0d8;height: 240px;box-sizing: border-box;overflow: hidden;background: #FFFFFF;}
.shopCenter .shopCenter-top{cursor: move;background: #f9f0d8;height: 36px;line-height: 36px;padding-left: 20px;color: #e4c060;font-size: 16px;}
.shopCenter .title{background: #fffbef;height: 40px;line-height: 40px;color: #333333;font-size: 14px;}
.shopCenter .title span{display: block;float: left;line-height: 40px;text-align: center;}
.shopCenter .title .sp-title1{width: 30%;}
.shopCenter .title .sp-title2{width: 15%;}
.shopCenter .title .sp-title3{width: 15%;}
.shopCenter .title .sp-title4{width: 40%;}
.shopCenter .list li{height: 40px;line-height: 40px;color: #666666;font-size: 14px;border-bottom: 1px solid #f9f0d8;padding: 0 10px;}
.shopCenter .list li span{display: block;float: left;line-height: 40px;text-align: center;}
.shopCenter .list .sp-title1{width: 30%;box-sizing: border-box;padding-right: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.shopCenter .list .sp-title2{width: 15%;box-sizing: border-box;padding-right: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.shopCenter .list .sp-title3{width: 15%;box-sizing: border-box;padding-right: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.shopCenter .list .sp-title4{width: 40%;box-sizing: border-box;padding-right: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.member-state{max-width: 98%;border: 1px solid #e9e6f7;height: 240px;box-sizing: border-box;background: #FFFFFF;}
.member-state .member-top{cursor: move;background: #e9e6f7;height: 40px;line-height: 40px;padding-left: 20px;color: #9488c8;font-size: 16px;}
.member-state .title{background: #fffbef;height: 40px;line-height: 40px;color: #333333;font-size: 14px;}
.member-state .list li{width: 100%;height: 40px;line-height: 40px;color: #666666;font-size: 14px;border-bottom: 1px solid #e9e6f7;box-sizing: border-box;padding: 0 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.jurisdiction-state{max-width: 98%;border: 1px solid #ddf5d6;height: 240px;box-sizing: border-box;background: #FFFFFF;}
.jurisdiction-state .jurisdiction-top{cursor: move;background: #ddf5d6;height: 40px;line-height: 40px;padding-left: 20px;color: #87ce73;font-size: 16px;}
.jurisdiction-state .title{background: #f2faef;height: 40px;line-height: 40px;color: #333333;font-size: 14px;}
.jurisdiction-state .title span{display: block;float: left;line-height: 40px;text-align: center;}
.jurisdiction-state .title .sp-title1{width: 30%;}
.jurisdiction-state .title .sp-title2{width: 15%;}
.jurisdiction-state .title .sp-title3{width: 15%;}
.jurisdiction-state .title .sp-title4{width: 40%;}
.jurisdiction-state .list li{height: 40px;line-height: 36px;color: #666666;font-size: 14px;border-bottom: 1px solid #ddf5d6;padding: 0 10px;box-sizing: border-box;}
.jurisdiction-state .list li span{display: block;float: left;line-height: 36px;text-align: center;}
.jurisdiction-state .list .sp-title1{width: 30%;box-sizing: border-box;padding-right: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.jurisdiction-state .list .sp-title2{width: 15%;box-sizing: border-box;padding-right: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.jurisdiction-state .list .sp-title3{width: 15%;box-sizing: border-box;padding-right: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.jurisdiction-state .list .sp-title4{width: 40%;box-sizing: border-box;padding-right: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.platform-announcement{max-width: 98%;border: 1px solid #f1f1f1;height: 240px;box-sizing: border-box;background: #FFFFFF;}
.platform-announcement .platform-top{cursor: move;background: #f1f1f1;height: 40px;line-height: 40px;padding-left: 20px;color: #333;font-size: 16px;}
.platform-announcement .title{background: #fffbef;height: 40px;line-height: 40px;color: #333333;font-size: 14px;}
.platform-announcement .list li{width: 100%;height: 40px;line-height: 40px;color: #666666;font-size: 14px;border-bottom: 1px solid #f1f1f1;padding: 0 10px;box-sizing: border-box;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.system-state{max-width: 98%;border: 1px solid #daf1f8;height: 240px;box-sizing: border-box;background: #FFFFFF;}
.system-state .system-top{cursor: move;background: #daf1f8;height: 40px;line-height: 40px;padding-left: 20px;color: #8abfd1;font-size: 16px;}
.system-state .title{background: #ecf8fc;height: 40px;line-height: 40px;color: #333333;font-size: 14px;}
.system-state .title span{display: block;float: left;line-height: 40px;text-align: center;}
.system-state .title .sp-title1{width: 30%;}
.system-state .title .sp-title2{width: 20%;}
.system-state .title .sp-title3{width: 50%;}
.system-state .list li{height: 40px;line-height: 36px;color: #666666;font-size: 14px;border-bottom: 1px solid #daf1f8;padding: 0 10px;box-sizing: border-box;}
.system-state .list li span{display: block;float: left;line-height: 36px;text-align: center;}
.system-state .list .sp-title1{width: 30%;box-sizing: border-box;padding-right: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.system-state .list .sp-title2{width: 20%;box-sizing: border-box;padding-right: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.system-state .list .sp-title3{width: 50%;box-sizing: border-box;padding-right: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.backlog{max-width: 98%;border: 1px solid #f7e1df;height: 240px;box-sizing: border-box;background: #FFFFFF;}
.backlog .backlog-top{cursor: move;background: #f7e1df;height: 40px;line-height: 40px;padding-left: 20px;color: #ee9087;font-size: 16px;}
.backlog .title{background: #fff5f5;height: 40px;line-height: 40px;color: #333333;font-size: 14px;}
.backlog .title span{display: block;float: left;line-height: 40px;text-align: center;}
.backlog .title .sp-title1{width: 30%;}
.backlog .title .sp-title2{width: 15%;}
.backlog .title .sp-title3{width: 15%;}
.backlog .title .sp-title4{width: 40%;}
.backlog .list li{height: 40px;line-height: 36px;color: #666666;font-size: 14px;border-bottom: 1px solid #f7e1df;padding: 0 10px;box-sizing: border-box;}
.backlog .list li span{display: block;float: left;line-height: 36px;text-align: center;}
.backlog .list .sp-title1{width: 30%;box-sizing: border-box;padding-right: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.backlog .list .sp-title2{width: 15%;box-sizing: border-box;padding-right: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.backlog .list .sp-title3{width: 15%;box-sizing: border-box;padding-right: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.backlog .list .sp-title4{width: 40%;box-sizing: border-box;padding-right: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.resize-handle{position: absolute;top: 10px;right: 4px;bottom: 0px;width: 12px;cursor: e-resize;filter: alpha(opacity=0);border-radius: 0;opacity: 0;-webkit-transition: opacity .5s cubic-bezier(.175,.885,.32,1);-o-transition: opacity .5s cubic-bezier(.175,.885,.32,1);transition: opacity .5s cubic-bezier(.175,.885,.32,1);}
.resize-handle>.icon {position: absolute;top: 50%;left: -4px;display: block;width: 20px;height: 20px;margin-top: -10px;line-height: 20px;
    color: #1a4f85;text-align: center;background-color: rgba(26,79,133,.2);
    -webkit-transition: left .5s cubic-bezier(.175,.885,.32,1),top .5s cubic-bezier(.175,.885,.32,1);
    -o-transition: left .5s cubic-bezier(.175,.885,.32,1),top .5s cubic-bezier(.175,.885,.32,1);
    transition: left .5s cubic-bezier(.175,.885,.32,1),top .5s cubic-bezier(.175,.885,.32,1);
}
.icon-resize-h:before {content: '\e677';}
.icon:before {display: inline-block;min-width: 14px;text-align: center;}
.resize-handle.resize-vertical {top: auto;right: 10px;bottom: 5px;left: 10px;width: auto;height: 12px;cursor: n-resize;}
.resize-handle.resize-vertical>.icon {top: 0;left: 50%;margin-top: 0;margin-left: -10px;}
.icon-resize-v:before {content: '\e676';}
.icon:before {display: inline-block;min-width: 14px;text-align: center;}
.resize-handle:hover {background-color: rgba(26,79,133,.12);filter: alpha(opacity=100);opacity: 1;}
.resize-handle.resize-vertical:hover {background-color: rgba(26,79,133,.12);filter: alpha(opacity=100);opacity: 1;}

.resizeMe{overflow: hidden;}

/*表格里的状态*/
.state-2{color: #ff2c41;}
.state-1{color: #00d5b4;}
.state-0{color: #999999;}

.likeLink{position: absolute;top:0;right:166px;overflow: hidden;}

.indexTitle{height:30px;float: left;}
.indexTitle p{padding-left: 24px;padding-right: 10px;margin-top:8px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/yt-icon-s.png) no-repeat;}
.indexTitle p a{color:#fff;display:block;line-height:14px;font-size: 12px}
.indexTitle p br{display: none;}

.ycindexTitle{height:30px;float: left;margin-right: 10px;}
.ycindexTitle p{padding-left: 24px;padding-right: 10px;margin-top:8px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/yc-icon-s.png) no-repeat;border-right: 1px solid #FFFFFF;padding-bottom: 2px;}
.ycindexTitle p a{color:#fff;display:block;line-height:14px;font-size: 12px}
.ycindexTitle p br{display: none;}

.ycWWWTitle{height:30px;float: left;margin-right: 10px;}
.ycWWWTitle p{padding-left: 24px;padding-right: 10px;margin-top:8px;background: url(https://static-1253852034.cosgz.myqcloud.com/images/new-yclogo.png) no-repeat;border-right: 1px solid #FFFFFF;padding-bottom: 2px;}
.ycWWWTitle p a{color:#fff;display:block;line-height:14px;font-size: 12px}
.ycWWWTitle p br{display: none;}
/*新的首页样式开始*/
















