<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			 									 http://www.springframework.org/schema/beans/spring-beans.xsd
        										 http://www.springframework.org/schema/context 
        										 http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置加载配置文件 -->
    <!--<context:property-placeholder location="classpath:properties/*.properties"/>-->

    <!-- 不是WEB工程，不要 classpath: -->
    <!-- 	<context:property-placeholder location="properties/*.properties"/> -->

    <!-- 注意，这里扫描的包 和 service 中扫描的包，不要冲突！！！ -->

    <!--  OK  -->
    <context:component-scan base-package="cc.msonion.carambola.parent.pojo"/>


</beans>
