<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.msonion.carambola.fileresource.dao.mapper.AblumLibMapper">
  <resultMap id="BaseResultMap" type="cc.msonion.carambola.fileresource.pojo.AblumLib">
    <id column="idx" jdbcType="BIGINT" property="idx" />
    <result column="idx_code" jdbcType="BIGINT" property="idxCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pidx" jdbcType="BIGINT" property="pidx" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
    <result column="relative_path" jdbcType="VARCHAR" property="relativePath" />
    <result column="ablum_type" jdbcType="SMALLINT" property="ablumType" />
    <result column="total_num" jdbcType="INTEGER" property="totalNum" />
    <result column="category" jdbcType="SMALLINT" property="category" />
    <result column="total_size" jdbcType="BIGINT" property="totalSize" />
    <result column="file_idx" jdbcType="BIGINT" property="fileIdx" />
    <result column="dir_type" jdbcType="SMALLINT" property="dirType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="create_by_member_idx" jdbcType="BIGINT" property="createByMemberIdx" />
    <result column="update_by_member_idx" jdbcType="BIGINT" property="updateByMemberIdx" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ext" jdbcType="VARCHAR" property="ext" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    idx, idx_code, name, pidx, parent_name, relative_path, ablum_type, total_num, category, 
    total_size, file_idx, dir_type, remark, status, version, create_by_member_idx, update_by_member_idx, 
    create_time, update_time, ext
  </sql>
  <select id="selectByExample" parameterType="cc.msonion.carambola.fileresource.pojo.AblumLibExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_ablum_lib_p
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_ablum_lib_p
    where idx = #{idx,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_ablum_lib_p
    where idx = #{idx,jdbcType=BIGINT}
  </delete>
  <update id="deleteByIdxesWithExample" parameterType="cc.msonion.carambola.fileresource.pojo.AblumLibExample">
    update tb_ablum_lib_p set status = 0
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <insert id="insert" parameterType="cc.msonion.carambola.fileresource.pojo.AblumLib">
    insert into tb_ablum_lib_p (idx, idx_code, name, 
      pidx, parent_name, relative_path, 
      ablum_type, total_num, category, 
      total_size, file_idx, dir_type, 
      remark, status, version, 
      create_by_member_idx, update_by_member_idx, create_time, 
      update_time, ext)
    values (#{idx,jdbcType=BIGINT}, #{idxCode,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{pidx,jdbcType=BIGINT}, #{parentName,jdbcType=VARCHAR}, #{relativePath,jdbcType=VARCHAR}, 
      #{ablumType,jdbcType=SMALLINT}, #{totalNum,jdbcType=INTEGER}, #{category,jdbcType=SMALLINT}, 
      #{totalSize,jdbcType=BIGINT}, #{fileIdx,jdbcType=BIGINT}, #{dirType,jdbcType=SMALLINT}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{version,jdbcType=BIGINT}, 
      #{createByMemberIdx,jdbcType=BIGINT}, #{updateByMemberIdx,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{ext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cc.msonion.carambola.fileresource.pojo.AblumLib">
    insert into tb_ablum_lib_p
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        idx,
      </if>
      <if test="idxCode != null">
        idx_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pidx != null">
        pidx,
      </if>
      <if test="parentName != null">
        parent_name,
      </if>
      <if test="relativePath != null">
        relative_path,
      </if>
      <if test="ablumType != null">
        ablum_type,
      </if>
      <if test="totalNum != null">
        total_num,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="totalSize != null">
        total_size,
      </if>
      <if test="fileIdx != null">
        file_idx,
      </if>
      <if test="dirType != null">
        dir_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createByMemberIdx != null">
        create_by_member_idx,
      </if>
      <if test="updateByMemberIdx != null">
        update_by_member_idx,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="ext != null">
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idx != null">
        #{idx,jdbcType=BIGINT},
      </if>
      <if test="idxCode != null">
        #{idxCode,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pidx != null">
        #{pidx,jdbcType=BIGINT},
      </if>
      <if test="parentName != null">
        #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="relativePath != null">
        #{relativePath,jdbcType=VARCHAR},
      </if>
      <if test="ablumType != null">
        #{ablumType,jdbcType=SMALLINT},
      </if>
      <if test="totalNum != null">
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=SMALLINT},
      </if>
      <if test="totalSize != null">
        #{totalSize,jdbcType=BIGINT},
      </if>
      <if test="fileIdx != null">
        #{fileIdx,jdbcType=BIGINT},
      </if>
      <if test="dirType != null">
        #{dirType,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="createByMemberIdx != null">
        #{createByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="updateByMemberIdx != null">
        #{updateByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext != null">
        #{ext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cc.msonion.carambola.fileresource.pojo.AblumLibExample" resultType="java.lang.Long">
    select count(idx) from tb_ablum_lib_p
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_ablum_lib_p
    <set>
      <if test="record.idx != null">
        idx = #{record.idx,jdbcType=BIGINT},
      </if>
      <if test="record.idxCode != null">
        idx_code = #{record.idxCode,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.pidx != null">
        pidx = #{record.pidx,jdbcType=BIGINT},
      </if>
      <if test="record.parentName != null">
        parent_name = #{record.parentName,jdbcType=VARCHAR},
      </if>
      <if test="record.relativePath != null">
        relative_path = #{record.relativePath,jdbcType=VARCHAR},
      </if>
      <if test="record.ablumType != null">
        ablum_type = #{record.ablumType,jdbcType=SMALLINT},
      </if>
      <if test="record.totalNum != null">
        total_num = #{record.totalNum,jdbcType=INTEGER},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=SMALLINT},
      </if>
      <if test="record.totalSize != null">
        total_size = #{record.totalSize,jdbcType=BIGINT},
      </if>
      <if test="record.fileIdx != null">
        file_idx = #{record.fileIdx,jdbcType=BIGINT},
      </if>
      <if test="record.dirType != null">
        dir_type = #{record.dirType,jdbcType=SMALLINT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.createByMemberIdx != null">
        create_by_member_idx = #{record.createByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="record.updateByMemberIdx != null">
        update_by_member_idx = #{record.updateByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ext != null">
        ext = #{record.ext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_ablum_lib_p
    set idx = #{record.idx,jdbcType=BIGINT},
      idx_code = #{record.idxCode,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      pidx = #{record.pidx,jdbcType=BIGINT},
      parent_name = #{record.parentName,jdbcType=VARCHAR},
      relative_path = #{record.relativePath,jdbcType=VARCHAR},
      ablum_type = #{record.ablumType,jdbcType=SMALLINT},
      total_num = #{record.totalNum,jdbcType=INTEGER},
      category = #{record.category,jdbcType=SMALLINT},
      total_size = #{record.totalSize,jdbcType=BIGINT},
      file_idx = #{record.fileIdx,jdbcType=BIGINT},
      dir_type = #{record.dirType,jdbcType=SMALLINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=SMALLINT},
      version = #{record.version,jdbcType=BIGINT},
      create_by_member_idx = #{record.createByMemberIdx,jdbcType=BIGINT},
      update_by_member_idx = #{record.updateByMemberIdx,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      ext = #{record.ext,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.msonion.carambola.fileresource.pojo.AblumLib">
    update tb_ablum_lib_p
    <set>
      <if test="idxCode != null">
        idx_code = #{idxCode,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pidx != null">
        pidx = #{pidx,jdbcType=BIGINT},
      </if>
      <if test="parentName != null">
        parent_name = #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="relativePath != null">
        relative_path = #{relativePath,jdbcType=VARCHAR},
      </if>
      <if test="ablumType != null">
        ablum_type = #{ablumType,jdbcType=SMALLINT},
      </if>
      <if test="totalNum != null">
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=SMALLINT},
      </if>
      <if test="totalSize != null">
        total_size = #{totalSize,jdbcType=BIGINT},
      </if>
      <if test="fileIdx != null">
        file_idx = #{fileIdx,jdbcType=BIGINT},
      </if>
      <if test="dirType != null">
        dir_type = #{dirType,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="createByMemberIdx != null">
        create_by_member_idx = #{createByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="updateByMemberIdx != null">
        update_by_member_idx = #{updateByMemberIdx,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext != null">
        ext = #{ext,jdbcType=VARCHAR},
      </if>
    </set>
    where idx = #{idx,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.msonion.carambola.fileresource.pojo.AblumLib">
    update tb_ablum_lib_p
    set idx_code = #{idxCode,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      pidx = #{pidx,jdbcType=BIGINT},
      parent_name = #{parentName,jdbcType=VARCHAR},
      relative_path = #{relativePath,jdbcType=VARCHAR},
      ablum_type = #{ablumType,jdbcType=SMALLINT},
      total_num = #{totalNum,jdbcType=INTEGER},
      category = #{category,jdbcType=SMALLINT},
      total_size = #{totalSize,jdbcType=BIGINT},
      file_idx = #{fileIdx,jdbcType=BIGINT},
      dir_type = #{dirType,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      version = #{version,jdbcType=BIGINT},
      create_by_member_idx = #{createByMemberIdx,jdbcType=BIGINT},
      update_by_member_idx = #{updateByMemberIdx,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ext = #{ext,jdbcType=VARCHAR}
    where idx = #{idx,jdbcType=BIGINT}
  </update>
</mapper>